body {
    background-image: url(../images/11428.jpg);
    background-size: cover;
    font-family: 'Pirata One', cursive;
}

.jumbotron {
   background: rgb(200, 200, 200); /* This is for ie8 and below */
   background: rgba(200, 200, 200, 0.90); 
}

#headerText {
    font-size: 20px;
}

.navbar {
    border-bottom: solid 5px goldenrod;
    background: rgba(200, 200, 200, 0.95);
    position: sticky; 

}

.footer {
    background: rgb(0, 0, 56);
    border-top: solid 3px goldenrod;
    font-size: 5px;
}

#questionContainer {
    font-size: 24px;

}